{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 4{% endblock %}

{# основной контент: #}
{% block main %}
  <h1>Формы (POST)</h1>
  
  <div>Тема лабораторной - Формы (POST). Список сделанных страниц: </div>
  <ol>
        <li><a href="/lab4/div-form">Деление</a></li>
        <li><a href="/lab4/sum-form">Суммирование</a></li>
        <li><a href="/lab4/umn-form">Умножение</a></li>
        <li><a href="/lab4/min-form">Вычитание</a></li>
        <li><a href="/lab4/step-form">Возведение в степень</a></li>
        <li><a href="/lab4/tree">Счетчик деревьев</a></li>
  </ol>
{% endblock %}