{% extends 'base.html' %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Регистрация</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form action="/lab4/register" method="post">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name">
        <br>

        <label for="login">Логин:</label>
        <input type="text" id="login" name="login">
        <br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password">
        <br>

        <label for="gender">Пол:</label>
        <select id="gender" name="gender">
            <option value="male">Мужской</option>
            <option value="female">Женский</option>
        </select>
        <br>

        <button type="submit">Зарегистрироваться</button>
    </form>

    <a href="/lab4/login">Войти</a>
{% endblock %}

