body {
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom:  30px;
    padding: 20px;
    background: lightgray;
}

footer {
    margin-top:  20px;
    padding: 10px;
    background: lightgray;
    text-align:  right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.error {
    color: red;
}

.knowledge-base {
    padding: 10px;
}

.navbar {
    background-color: #e0f0f8;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #999999;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color: #bcdfe7;
}

.username {
    font-weight: bold;
}

.article-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.article-title {
    font-size: 1.2em;
    margin: 0 0 8px;
}

.favorite-label {
    color: #a14b4b;
    font-weight: bold;
}

.article-text {
    font-size: 1em;
    margin: 0 0 10px;
    color: #333;
}

.article-actions {
    display: flex;
    gap: 5px;
}

.action-button {
    padding: 5px 10px;
    font-size: 0.9em;
    background-color: #577faa;
    color: white;
    border: none;
    cursor: pointer;
}

.action-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #c5505c;
}

.delete-button:hover {
    background-color: #c5505c;
}