<!doctype html>
<html>
<body>
    <h1>Список всех цветов</h1>
    <p>Всего цветов: {{ flowers|length }}</p>
    <ol>
        {% for flower in flowers %}
            <li>
                {{ flower.name }} - {{ flower.price }} руб.
                <a href="{{ url_for('delete_flower', flower_id=loop.index0) }}" method="post" style="display:inline;">Удалить</a>
                
            </li>
        {% endfor %}
    </>
    <a href="/lab2/clear_flowers">Очистить список цветов</a>
    <br>
    <a href="/lab2/add_flower/">Добавить новый цветок</a>
</body>
</html>