{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>
    
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}

    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" name="title" maxlength="50">
            </label>
        </div>

        <div>
            <label>
                Текст статьи:
                <textarea name="article_text"></textarea>
            </label>
        </div>
        
        <div>
            <label>
                <input type="checkbox" name="is_public"> Сделать статью публичной
            </label>
        </div>

        <div>
            <button type="submit">Создать статью</button>
        </div>
    </form>
{% endblock %}
