{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Редактирование статьи</h1>

    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}

    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" name="title" maxlength="50" value="{{ article['title'] }}" required>
            </label>
        </div>

        <div>
            <label>
                Текст статьи:
                <textarea name="article_text">{{ article['article_text'] }}</textarea>
            </label>
        </div>

        <div>
            <button type="submit">Сохранить изменения</button>
        </div>
    </form>
{% endblock %}
