{% extends "base.html" %}

{% block lab %}Лабораторная работа 5 — Публичные статьи{% endblock %}

{% block main %}
    <h1>Публичные статьи</h1>

    {% if articles %}
        <div class="articles-list">
            {% for article in articles %}
                <div class="article-card">
                    <h2 class="article-title">{{ article['title'] }}{% if article['is_favorite'] %} - <span class="favorite-label">Любимая статья</span>{% endif %}</h2>
                    <blockquote class="article-text">{{ article['article_text'] }}</blockquote>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет публичных статей.</p>
    {% endif %}
{% endblock %}
