{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
  <h1>Шаблоны</h1>
  <div>Тема лабораторной - шаблоны. Список сделанных страниц: </div>
  <ol>
      <li><a href ="/lab2/example">example</a></li>
      <li><a href ="/lab2/a">без слэша</a></li>
      <li><a href ="/lab2/a/">со слэшем</a></li>
      <li><a href ="/lab2/flowers/<int:flower_id>">Вывод цветка</a></li>
      <li><a href ="/lab2/add_flower/<name>">Добавление цветка</a></li>
      <li><a href ="/lab2/filters">Фильтры</a></li>
      <li><a href ="/lab2/flowers">Все цветы</a></li>
      <li><a href ="/lab2/clear_flowers">Очистка списка цветов</a></li>
      <li><a href ="/lab2/books/">Книги</a></li>
      <li><a href ="/lab2/calc">Выражения</a></li>
      <li><a href ="/lab2/furniture">Мебель</a></li>
      <li><a href ="/lab2/flowers">Дополнительное задание</a></li>
  </ol>
{% endblock %}