{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<div class="knowledge-base">
    <h2>База знаний</h2>
    <div class="navbar">
        <a href="/lab58/list" class="btn">Список статей</a>
        <a href="/lab8/create" class="btn">Создать статью</a>
       
        {% if login %}
            <a href="/lab8/logout" class="btn">Выйти</a>
        {% else %}
            <a href="/lab8/login" class="btn">Войти</a>
            <a href="/lab8/register" class="btn">Регистрация</a>
        {% endif %}
        
        <span class="username">
            {% if login %}
                {{ login }}
            {% else %}
                Anonymous
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}