{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<div class="knowledge-base">
    <h1>Публичные статьи</h1>


    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        .knowledge-base {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        .article-list {
            list-style: none;
            padding: 0;
        }

        .article-item {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            padding: 15px;
            border-radius: 5px;
        }

        .article-item h3 {
            margin-top: 0;
            color: #333;
        }

        .article-item p {
            margin: 10px 0;
            color: #555;
        }

        /* Стили для формы поиска */
        .search-form {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        .search-form input[type="text"] {
            padding: 5px;
            width: 200px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

        .search-form .button-link {
            margin-left: 10px;
        }


        .navigation-buttons {
            margin-top: 20px;
        }

        .no-articles {
            color: #777;
            font-style: italic;
        }


        .button-link {
            display: inline-block;
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 3px;
            margin-right: 10px;
            transition: background-color 0.3s;
        }

        .button-link:hover {
            background-color: #0056b3;
        }
        
    </style>

    <form action="/lab8/search" method="get" class="search-form">
        <input type="text" name="query" placeholder="Поиск по статьям" required>
        <button type="submit" class="button-link reset-button">Искать</button>
        <a href="/lab8/public_articles" class="button-link reset-button">Сбросить</a>
    </form>

    {% if articles %}
        <ul class="article-list">
            {% for article in articles %}
                <li class="article-item">
                    <h3>{{ article.title }}</h3>
                    <p>{{ article.article_text }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет доступных публичных статей.</p>
    {% endif %}
</div>
{% endblock %}